{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
	{{!-- <header class="header">
		<button class="button">
			<img src="/svg/header__back.svg" width="24px" height="24px">
		</button>
		<button class="button">
			<img src="/img/header__avatar.png" width="24px" height="24px">
		</button>
	</header> --}}

	{{!-- <hi class="title">My blog</hi> --}}

	{{!-- <main class="post__list">
		<div class="post button">
			<div class="post__header">
				<div class="post__category-list">
					<span class="post__category post__category--1">Important</span>
					<span class="post__category post__category--2">New</span>
				</div>
				<span class="post__date">25.01</span>
			</div>
			<p class="post__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ab consequuntur
				repellat, et temporibus velit.</p>
		</div>
		<div class="post button post--viewed">
			<div class="post__header">
				<div class="post__category-list">
					<span class="post__category post__category--1">Important</span>
				</div>
				<span class="post__date">24.01</span>
			</div>
			<p class="post__info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, ducimus.</p>
		</div>

	</main> --}}



</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}